html {
    width: 1280px;
}

.arrowhead_bg {
    position: relative;
    top: 20px;
    z-index: 0;
    width: 994px;
    height: 200px;
    margin: -30px 3px 3px 3px;
}

body {
    background-color: white;
    overflow-x: hidden;
}

.table .table_title {
    background-color: #728AC0;
    color: white;
    width: 18px;
}

.button {
    background-color: #728AC0;
    width: 70px;
    height: 30px;
    border: 2px solid gray;
    font-size: 14px;
    color: white;
}

td {
    border: 1px solid #40444a;
    text-align: center;
}

.content_title {
    font-family: '微软雅黑';
    margin: -5px 0px 20px -8px;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #C5C5C5;
    background: url('/Content/Images/buttom_title.png') 0 0 repeat-x;
}

    .content_title span {
        font-size: 15px;
        margin-left: 5px;
    }


.txt {
    border: 1px solid #6A6775;
    height: 25px;
}
