html {
    width: 1280px;
}

.arrowhead_bg {
    position: relative;
    top: 20px;
    z-index: 0;
    width: 994px;
    height: 200px;
    margin: -30px 3px 3px 3px;
}

body {
    background-color: white;
    overflow-x: hidden;
}

.table .table_title {
    background-color: #728AC0;
    color: white;
    width: 18px;
}

.button {
    display: inline-block;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25) !important;
    font-size: 14px;
    background-color: #728AC0 !important;
    border: 0px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 70px;
}

.errorTipPass {
    display: inline-block;
    position: relative;
    /* left: 295px; */
    z-index: 200;
    width: 135px;
    /* top: -30px; */
    font-size: 13.5px;
    /* margin-left: -25px; */
    color: red;
}

td {
    border: 1px solid #40444a;
    text-align: center;
}

.content_title {
    font-family: '微软雅黑';
    margin: -5px 0px 20px -8px;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #C5C5C5;
    background: url('/Content/Images/buttom_title.png') 0 0 repeat-x;
}

    .content_title span {
        font-size: 15px;
        margin-left: 5px;
    }


.txt {
    border: 1px solid #6A6775;
    height: 25px;
}

table {
    border-collapse: collapse;
    margin: 4px 10px;
    width: 780px;
}
/*page*/
tr.page_list {
    background: white;
}

    tr.page_list div.page_list_menu {
        text-align: right;
        padding-right: 20px;
        height: 50px;
    }

        tr.page_list div.page_list_menu a {
            margin: 10px 0;
            background: url('/Content/images/page_button_bg.png') 0 0 repeat-x;
            height: 30px;
            display: inline-block;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 5px;
            border: solid 1px #808080;
            cursor: pointer;
            -webkit-user-select: none; /* for Chrome */
            -moz-user-select: none; /* for Firefox */
            -o-user-select: none; /* for Opera */
        }

        tr.page_list div.page_list_menu .search_area {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin: 10px 0;
            padding: 0 10px;
        }

        tr.page_list div.page_list_menu input {
            width: 50px;
            height: 24px;
            line-height: 24px;
        }

        tr.page_list div.page_list_menu .currentPage {
            font-size: 15px;
            color: #00F;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin: 10px 0;
            padding: 0 10px;
        }

        tr.page_list div.page_list_menu .page_index {
            color: red;
        }
