body {
    position: relative;
    height: auto;
    #height:100%;
    background-color: #4A7CA3;
}

.footer {
    bottom: 25px;
    position: relative;
}

.login_left_div {
    margin: 3px;
    height: 300px;
    background-color: #f2f0f0;
    margin-top: 25px;
    display: inline-block;
    float: left;
    width: 560px;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40px;
}

li {
    height: 3px;
    padding-top: 20px;
}

em {
    display: block;
    font: 0/0 "宋体";
    border: 4px solid;
    border-color: #fff #fff #fff #921902;
    float: left;
    margin-top: 3px;
    margin-right: 2px;
    height: 4px;
}

.new {
    color: #3B3B81;
    font-size: 16px;
    display: inline-block;
    width: 480px;
    font-weight: 600;
    padding: 10px 0px 10px 30px;
}

.login_window {
    border-radius: 2px;
    border: 2px solid #CEC8C8;
    width: 400px;
    height: 300px;
    background-color: #f2f0f0;
    margin: 23px 3px 3px 27px;
    display: inline-block;
    border-spacing: 30px;
}

.login_title {
    display: inline-block;
    width: 370px;
    background-color: #6989B7;
    height: 40px;
    font-weight: 900;
    color: white;
    font-family: cursive;
    font-size: 18px;
    padding: 10px 0px 0px 30px;
}

.login_txt {
    display: inline-block;
    width: 570px;
    margin: 10px 20px 0px 30px;
    font-family: cursive;
    font-weight: 600;
}

.txt {
    height: 25px;
    margin-left: 18px;
}

.code {
    width: 60px;
    height: 25px;
    margin-left: 18px;
}

.type {
    width: 100px;
    height: 25px;
}

.btn {
    width: 80px;
    height: 35px;
    background-color: #6989B7;
    font-family: cursive;
    font-weight: 600;
    font-size: 16px;
    color: rgb(8, 8, 9);
}

.login_bt {
    padding-left: 112px;
}

.footer {
    bottom: 25px;
    position: relative;
    padding: 80px 0px 0px 300px;
    font-size: 13px;
    color: #796F6F;
}
.errorTip {
    display: inline-block;
    position: relative;
   left: 295px; 
    z-index: 200;
    width: 135px;
    top: -30px;
    font-size: 13.5px;
    margin-left: -25px;
    color: red;
}

