.user {
    color: black;
    font-weight: 600;
    font-size: 13px;
    margin-top: -5px;
}

#nav ul {
    float: left;
}

#nav li {
    float: left;
    list-style-type: none;
    width: 130px;
    height: 35px;
    padding-top: 13px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

#nav {
    margin: -10px 0px 0px 60px;
}


.logout {
    background-color: #6393CA;
    color: rgb(9, 8, 8);
    border: 1px solid gray;
    font-weight: 600;
    margin-top: 5px;
}

a {
    text-decoration: underline;
    color: #0000cc;
}

    a:hover {
        text-decoration: underline;
    }

.container {
    margin: 0 auto;
    width: 1002px;
    background-color: #ffffff;
}

.js {
    font-size: 12px;
    font-style: oblique italic;
    background-color: #EFEFEF;
    width: 1002px;
    text-align: right;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #cadcd0;
    margin: 1px 5px;
    padding: 0px;
    width: 1192px;
    text-align: right;
    height: 25px;
}

#content {
    margin: 0px;
    padding: 0px;
    width: 200px;
}

#left {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 200px;
    height: auto;
}

#left_bm {
    background-repeat: repeat-x;
    width: 200px;
    height: 554px;
}

#right {
    margin: 0px 0px -8px 166px;
    padding: 0px;
    float: left;
    width: 1028px;
    border-left-style: solid;
    border-width: 1px;
    border-color: #cadcd0;
    height: 410px;
}

.footer {
    float: left;
    margin: 7px 20px;
    padding: 5px;
    width: 1166px;
    height: 50px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #cadcd0;
    text-align: center;
    font-size: 13px;
    color: #3F3F44;
}

.footer_right {
    margin: 0px;
    padding: 0px;
    background-image: url(images/Green_Bottom.PNG);
    background-repeat: repeat-y;
    width: 663px;
    height: 72px;
    float: right;
    text-align: left;
}

#menu {
    list-style-type: none;
    margin: 0 0 10px 5px;
    padding: 0;
    position: absolute;
    width: 10em;
    background: #fff;
    z-index: 100;
}

    #menu li {
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 100;
    }

        #menu li a, #menu li a:visited {
            display: block;
            text-decoration: none;
        }

        #menu li dd {
            display: none;
        }

        #menu li:hover, #menu li a:hover {
            border: 0;
        }

            #menu li:hover dt a, #menu li a:hover dt a {
                background: #3B3B81;
                color: #F9F8FD;
            }

            #menu li:hover dd, #menu li a:hover dd {
                display: block;
            }

            #menu li:hover dl, #menu li a:hover dl {
                height: 11em;
                background: #EFEFEF;
            }

    #menu table {
        border-collapse: collapse;
        padding: 0;
        margin: -4px;
        font-size: 1em;
    }

    #menu dl {
        width: 10em;
        margin: 0;
        background: #728AC0;
        cursor: pointer;
    }

    #menu dt {
        margin: 0;
        padding: 0;
        font-size: 1em;
        border-top: 1px solid #190655;
        height: 32px;
    }

    #menu dd {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        text-align: left;
    }

.gallery dt a, .gallery dt a:visited {
    display: block;
    color: #FCF7F7;
    padding: 10px 10px 10px 35px;
}

.gallery dd a, .gallery dd a:visited {
    color: #000;
    min-height: 1em;
    text-decoration: none;
    display: block;
    padding: 4px 5px 4px 40px;
    background: #EFEFEF;
}

    * html .gallery dd a, * html .gallery dd a:visited {
        height: 1em;
    }

        .gallery dd a:hover {
            background: #ADC2DD;
            color: #fff;
        }
