* {
    margin: 0px;
    padding: 0px;
}

img {
    vertical-align: bottom;
}

body {
    margin: 0px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif,"新宋体";
    font-size: 12px;
    color: #333;
    font-variant: normal;
    background-attachment: fixed;
    margin-top: 10px;
}

a:link {
    color: #990000;
}

.clear {
    clear: both;
}

#contain {
    width: 904px;
    background-color: #FFFFFF;
    margin: 0px auto;
}

#header {
    width: 900px;
    margin: 0px 2px 5px 2px;
}

.header_pic {
    width: 100%;
    height: 170px;
    margin: 5px auto;
}

.header_menu {
    width: 898px;
    height: 30px;
    margin: 0px auto;
    border: 1px solid #D2D2D2;
    background: url(../images/mb.jpg) no-repeat;
}

    .header_menu ul li {
        line-height: 30px;
        padding-left: 20px;
        list-style-type: none;
        float: left;
    }

        .header_menu ul li a:link {
            color: #FFFFFF;
        }

        .header_menu ul li a:hover {
            color: #00FF33;
        }

        .header_menu ul li a:visited {
            color: #FFFFFF;
        }

#box {
    width: 898px;
    margin: 0px auto;
    border: 1px solid #D2D2D2;
}

.box_list {
    width: 890px;
    margin: 5px 4px;
}

    .box_list p {
        line-height: 20px;
    }

    .box_list .list_time {
        line-height: 20px;
        color: #C1C1C1;
    }

    .box_list .list_t {
        line-height: 22px;
    }

    .box_list .list_dc {
        line-height: 22px;
        text-indent: 2em;
        color: #6C6C6C;
    }

    .box_list .list_d {
        line-height: 22px;
        text-indent: 2em;
        color: #993300;
        letter-spacing: 1px;
        background-color: #FBEAE3;
    }

        .box_list .list_d span {
            color: #FF3300;
            font-weight: bold;
        }

.line {
    border-bottom: 1px #CCCCCC dotted;
    width: 100%;
    height: 1px;
    margin: 5px auto;
    line-height: 1px;
    overflow: hidden;
}

#xycopy {
    width: 898px;
    margin: 5px 2px;
    border: 1px solid #D2D2D2;
    overflow: hidden;
}

.xycopy_list {
    width: 890px;
    margin: 5px 4px;
}

    .xycopy_list .footnav {
        width: 100%;
        line-height: 20px;
        color: #616161;
    }

    .xycopy_list .footdc {
        width: 100%;
        line-height: 24px;
    }

.box_box {
    width: 768px;
    margin: 30px 64px;
    border: 1px solid #D2D2D2;
    background-color: #F6F6F6;
}

.box_book {
    width: 728px;
    margin: 15px 20px;
}

    .box_book p {
        line-height: 22px;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
    }

    .box_book .book_w {
        width: 100%;
    }

        .box_book .book_w ul li {
            padding-left: 10px;
            line-height: 22px;
        }

.about {
    margin: 20px;
    text-indent: 2em;
    width: 858px;
    line-height: 22px;
    font-size: 13px;
}

.b_p {
    width: 250px;
    height: 20px;
}


.hint {
    margin: 5px;
}

.sjxxbg {
    text-align: left;
    margin: 20px;
}

    .sjxxbg p {
        text-indent: 2em;
    }
