
*resharper.user
[Dd]ebug/
[Rr]elease/
[Ll]ive/
[Bb]in/
[Oo]bj/
[Ll]og/
*.suo
*.bak
*.sln.cache
_ReSharper.*/
*.user
.DS_Store
.tmp*~
WinProgram/
PublishProfiles/
*.csproj.user
*.cache
build/
*.orig
*.vspscc
*.vssscc
*.refresh
*.Publish.xml
*.pubxml
*.log
*.svclog
ScreenShot/
*.apk
Backup/
_UpgradeReport_Files/
UpgradeLog.htm
UpgradeLog.XML
emdlog/
log/
TestResults/
UploadFolder/
NetBpm.log*
*.cs.backup.*.cs
*.cs.base.*.cs
*.cs.local.*.cs
*.cs.orig